
.article-2{
    display: block;
    position: absolute;

    &__figure-eye{
        margin-left: -46px;
        margin-bottom: 12px;
    }

    &__number{
        font-family: "Raleway";
        text-align: center;
        padding-right: 100px;
        font-size: 20px;
        font-weight: 800px;
        line-height: 24px;
        letter-spacing: 5.96px;
        margin: 0 ;
    }

    &__text{
        font-family: "Raleway";
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        color: #A5A5A5;
        padding-right: 120px; 
        margin: 0;
        padding-top: 20px;
    }

}