
.global_nav{
    width: 100%;
    height: 4.375em;
    border: 2px solid red;
    padding: .5em;

    &__title-logo{
        color: rgba(8, 166, 228, 1);
        border: 2px solid red;
        margin-left: 1em;
        color:blue;
        display: inline;
    }
    
    &__barralogo{
        border: 2px solid purple;
    
    }
}