
.grup-trumpet{
    margin: 0;
    display: inline-block;

    &__blue{
        margin: 0;
        position: absolute;
    }

    &__trumpet{
        margin: 0;
        position: relative;
        padding-top: 30px;
    }
}