
.header{
    padding: .5em;
    box-shadow: #A5A5A5 0 0 2px 2px;
  


    &__title-logo{
        font-family: "Raleway";
        font-weight: 300;
        line-height: 37px;
        font-size: 32px; 
        color: rgba(8, 166, 228, 1);
        margin: 0 0 0 25px;  
        display: inline-block;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    &__barralogo{
        padding: 0 0 4px 70px;
    }
}