
/* Oculta el botón de cerrar y el menú inicialmente */
#close {
    display: none;
}


.open_hamburguer, .close_hamburguer {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

/* Estilos para el menú desplegable, visible solo en dispositivos móviles */
@media (max-width: 768px) {

    /* Botón de menú hamburguesa (abrir) */
    .open_hamburguer {
        display: block;
        position: absolute; /* Cambiado a absolute para que se ajuste en relación al contenedor */
        top: 20px; 
        right: 20px;
    }

    /* Botón de menú hamburguesa (cerrar) */
    .close_hamburguer {
        display: none;
        position: absolute;
        top: 20px; 
        right: 20px;
        color: rgba(8, 166, 228, 1);
    }

    /* Estilo inicial del menú desplegable */
    .header__menu {

        position: absolute;
        top: calc(100px); /* Cambia este valor a la altura de tu título más cualquier margen adicional */
        left: 0;
        width: 100%;
        background-color: #ffffff;
        list-style: none;
        padding: 20px;
        color: black;
        display: none; /* Oculto inicialmente */
        flex-direction: column;
        gap: 20px;
        z-index: 9;
        opacity: 0;
        transform: translateY(-100%); /* Oculto fuera de la vista en la parte superior */
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    /* Mostrar el menú desplegable desde arriba hacia abajo */
    .header__menu.show {
        display: flex;
        transform: translateY(0); /* Mueve el menú a la vista */
        opacity: 1;
    }

    /* Estilos para cada elemento de menú */
    .header__menuburger {
        font-size: 18px;
        color: #A5A5A5;
        cursor: pointer;
        padding: 10px 0;
        border-bottom: 0;
    }

    .header__menuburger:hover {
        color: #aaa;
    }
}

/* Ocultar el menú y botones en pantallas grandes */
@media (min-width: 769px) {
    #open, #close, .header__menu {
        display: none;
    }
}
