
.nav{
    text-align: center;
    margin-top: 8em;
    font-weight: 400;

    &__p-title{
        color: black;
        font-size: 35px;
        font-family: "Raleway";
        line-height: 41.09px;
    }

    &__p{
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 23px;
        color: #000000;

    }

    &__button{
        color: beige;
        background-color: #08A6E4;
        border-radius: 34px;
        width: 310px;
        height: 67px;
        top: 146px;
        border: transparent;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
    }

    &__lapto{
        width: 100%;
    }

    &__popular{
        font-family: "Raleway";
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }

}