
.rectangule{
    background-color: #F7F7F7;
    border: 2px solid red;
    margin-bottom: 0;
    margin-top: 400px;
    &__first-card, &__second-card{
        margin: 30px 30px; 
        background-color: white;
        border: 1px solid #E8E9ED;
    }

    &__circle{
        padding-left: 150px;
        position: absolute;
    }

    &__macbook{
        display: inline;
        position: relative;
        padding-top: 37.11px;
        padding-left: 60px;
    }

    &__text-1{
        font-family: "Raleway";
        font-size: 30px;
        font-weight: 400;
        line-height: 35.22px;
        text-align: left;
        padding-left: 22px;
        color: black;
    }

    &__text-2{
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        padding-left: 21px;
        color: black;
    }

    &__circle-blue{
        padding-top: 12px;
        padding-left: 90px;
        position: absolute;
    }

    &__iphone{
        top: 19.01px;
        padding-left: 90px;
        position: relative;
    }

    &__thrid-card{
        left: 18.31px;
        margin: 30px 30px;
        background-color: white;
        border: 1px solid #E8E9ED
    }

    &__text-3{
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
        text-align: left;
        padding-left: 22px;
    }

    &__blue{
        padding-left: 11.69px;
        border-radius: 5px 0px 0px 0px;
        border: 1px 0px 0px 0px;
        position: absolute;
    }

    &__trumpet{
        top: 315.64px;
        position: relative;
    }
}

