
.section-1{
    display: block;
    padding-left: 9.4em;

    &__eclipse-red{
        position: absolute;

    }

    &__figure{
        position: relative;
        left: 15%;
    }

    &__number{
        font-family: "Raleway";
        text-align: center;
        font-size: 20px;
        font-weight: 800px;
        line-height: 24px;
        letter-spacing: 5.96px;
        margin: 0 0 0 0;
        padding-right: 100px;
    }

    &__text{
        margin: 0;
        font-family: "Raleway";
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        color: #A5A5A5;  
        padding-top: 20px;
        padding-right: 130px;
    }

}
