body{
    margin: 0;
    width: 100%;
}

@import "_header.scss";
@import "_nav.scss";
@import "_section-1.scss";
@import "_article-2.scss";
@import "_article-3.scss";
@import "_rectangule.scss";
@import "_grup-trumpet.scss";
@import "_pricing-text.scss";
@import "_pricing.scss";
@import "_pricing-blue.scss";
@import "_pricing-green.scss";
@import "_form.scss";
@import "_footer.scss";