body {
  margin: 0;
  width: 100%;
}

.header {
  width: 100%;
  height: 4.2em;
  padding: 0.5em;
  box-shadow: #A5A5A5 0 0 0 2px;
}
.header__title-logo {
  font-family: "Raleway";
  font-weight: 300;
  line-height: 37px;
  font-size: 32px;
  color: rgb(8, 166, 228);
  margin: 17px 0 0 25px;
  display: inline-block;
}
.header__barralogo {
  width: 20px;
  height: 12px;
  position: absolute;
  margin: 1.813em 0 0 5em;
}

.nav {
  text-align: center;
  margin-top: 8em;
  font-weight: 400;
}
.nav__p-title {
  color: black;
  font-size: 35px;
  font-family: "Raleway";
  line-height: 41.09px;
}
.nav__p {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}
.nav__button {
  color: beige;
  background-color: #08A6E4;
  border-radius: 34px;
  width: 310px;
  height: 67px;
  top: 146px;
  border: transparent;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.nav__lapto {
  width: 100%;
}
.nav__popular {
  font-family: "Raleway";
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.nav-2 {
  padding-left: 9.4em;
  display: block;
}
.nav-2__eclipse-red {
  width: 3.919;
  height: 3.919;
}
.nav-2__figure {
  width: 2.75em;
  height: 3.25em;
  margin-left: -35px;
  margin-bottom: 6px;
}
.nav-2__number {
  height: 24px;
  font-family: "Raleway";
  text-align: center;
  margin-right: 98px;
  font-size: 20px;
  font-weight: 800px;
  margin-top: 0;
  line-height: 24px;
  letter-spacing: 5.96px;
}
.nav-2__text {
  font-family: "Raleway";
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #A5A5A5;
  margin-right: 130px;
}

.div-3 {
  display: block;
  padding-left: 9.4em;
  position: absolute;
}
.div-3__eclipse-blue {
  width: 3.919;
  height: 3.919;
}
.div-3__figure-eye {
  width: 65.43px;
  height: 36.5px;
  top: 12.25px;
  left: 77.78px;
  padding: 1.75px 2.22px 1.75px 2.22px;
  margin-left: -46px;
  margin-bottom: 12px;
}
.div-3__number {
  height: 24px;
  font-family: "Raleway";
  text-align: center;
  margin-right: 98px;
  font-size: 20px;
  font-weight: 800px;
  margin-top: 0;
  line-height: 24px;
  letter-spacing: 5.96px;
}
.div-3__text {
  font-family: "Raleway";
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #A5A5A5;
  margin-right: 120px;
}

.div-4 {
  display: inline-block;
  padding-left: 9.4em;
  position: absolute;
  top: 1208px;
}
.div-4__eclipse-green {
  width: 3.919;
  height: 3.919;
}
.div-4__figure-catalogo {
  width: 52px;
  height: 48px;
  margin-left: -38px;
  margin-bottom: 8px;
}
.div-4__number {
  height: 24px;
  font-family: "Raleway";
  text-align: center;
  font-size: 20px;
  font-weight: 800px;
  margin-top: 0;
  line-height: 24px;
  letter-spacing: 5.96px;
}
.div-4__text {
  font-family: "Raleway";
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #A5A5A5;
}

.rectangule {
  width: 375px;
  height: 1395.66px;
  top: 1426px;
  border: 2px solid red;
  display: inline-block;
  position: absolute;
}
.rectangule__first-card, .rectangule__second-card {
  width: 314px;
  height: 370px;
  top: 1468px;
  border: 2px solid blue;
  margin: 30px 30px;
}
.rectangule__circle {
  width: 127.45px;
  height: 127.45px;
  padding-left: 150px;
  position: absolute;
}
.rectangule__macbook {
  width: 192.76px;
  height: 109.93px;
  display: inline;
  position: relative;
  padding-top: 37.11px;
  padding-left: 60px;
}
.rectangule__text-1 {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 400;
  line-height: 35.22px;
  text-align: left;
  padding-left: 22px;
  color: black;
}
.rectangule__text-2 {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  padding-left: 21px;
  color: black;
}
.rectangule__circle-blue {
  width: 131.88px;
  height: 131.7px;
  padding-top: 12px;
  padding-left: 90px;
  position: absolute;
}
.rectangule__iphone {
  width: 175px;
  height: 134.99px;
  top: 19.01px;
  padding-left: 90px;
  position: relative;
}
.rectangule__thrid-card {
  width: 314px;
  height: 523.36px;
  top: 2291px;
  left: 18.31px;
  border: 2px solid blue;
  margin: 30px 30px;
}
.rectangule__text-3 {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
  padding-left: 22px;
}/*# sourceMappingURL=styles.css.map */